<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="ProdContextConnectionString" connectionString="User Id=abcd;Password=1234;Host=10.10.10.10;Port=1234;Database=prodDB;Persist Security Info=True;Default Command Timeout=60"/>
	</connectionStrings>
	<appSettings>
		<add key="MimecastUri" value="your uri"/>
		<add key="MimecastInterval" value="10"/>
		<add key="MimecastBaseUrl" value="https://au-api.mimecast.com"/>
		<add key="MimecastAccessKey" value="your access key"/>
		<add key="MimecastSecretKey" value="your secret key"/>
		<add key="MimecastAppId" value="your app Id"/>
		<add key="MimecastAppKey" value="your app key"/>
		<add key="MimecastPageSize" value="20"/>
	</appSettings>
</configuration>